@use '../../../styles/variables' as v;

.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 8rem;
    display: flex;
    z-index: 100;
    background-color: v.$color-background-secondary;
    justify-content: space-between;

    .brand {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        color: v.$color-accent-500;
        margin-left: 4rem;
    }
    
    .nav-container {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 30%;
        margin-right: 4rem;
    }

    nav {
        a {
            font-weight: bold;
            font-size: 2rem;
            color: v.$color-text-primary;
            text-decoration: none;

            i {
                transition: all v.$transition-medium;
            }

            &:hover {
                color: v.$color-text-secondary;
            }

            &:active {
                color: v.$color-link-active;
            }
        }
    }
}