@use '../../../styles/variables' as v;

.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    .text-zone {
        top: 10%;
        left: 15%;
        right: 15%;
        position: fixed;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input {
        min-width: 220px;
        max-width: 400px;
        padding: 1rem;
        margin: 0.5rem;
    }

    .error {
        min-height: 25px;
        max-height: 25px;
        color: v.$color-error;
    }

    .success {
        min-height: 25px;
        max-height: 25px;
        color: v.$color-success;
    }

    .Register-Text {
        font-weight: bold;
        font-size: large;
        padding-top: 5%;
    }

    .login-btn {
        min-width: 200px;
    }
}