@use './variables' as v;

:root {
    font-family: v.$font-family-base;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: v.$color-text-primary;
    background-color: v.$color-background-primary;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: v.$color-background-primary;
    color: v.$color-text-primary;
    margin: 0;
}

a {
    color: v.$color-link;
    text-decoration: none;
    transition: color v.$transition-fast;

    &:hover {
        color: v.$color-link-hover;
        text-decoration: underline;
    }
}