.nav-bar {
    background: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 15%;
    z-index: 1000;
    margin-top: 1rem;

    display: flex;
    align-items: center;
    justify-content: right;

    .nav-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 20%;
        margin-right: 4rem;
    }

    nav {
        a {
            font-weight: bold;
            font-size: 2rem;
            text-decoration: none;

            i {
                transition: all 0.3s ease;
            }

            &:hover {
                color: red;
            }
        }
    }
}